body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent; /* No background color */
}

#timer-container {
    width: 50vw; /* Adjust as needed */
    height: 20vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%; /* Adjust for spacing */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: transparent; /* No background color */
}

#timer {
    font-family: 'Arial', sans-serif;
    font-size: calc(2vw + 2vh); /* Dynamic font size based on viewport dimensions */
    color: #ffffff;
    max-font-size: 6rem; /* Optional: set a maximum font size to prevent it from getting too large */
}
