body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: transparent; /* No background color */
}

#timer-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #2e2e2e; /* Remove or set to transparent */
}

#timer {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    color: #ffffff;
}
