body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
}

#timer-container {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 50vw; /* or adjust as needed */
    height: 50vh; /* or adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-family: 'Arial', sans-serif;
    font-size: 10vw; /* Scales with container width */
    color: #ffffff;
    /* Make sure timer fits within the container */
    max-width: 90%; /* Ensure timer text doesn't overflow */
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}