body {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#alert-container {
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

#alert-message {
    color: #fff;
    font-size: 24px;
}

#username {
    font-weight: bold;
    color: #ffcc00;
}
